{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Каталог</h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <a class="sort-item" href="http://127.0.0.1:8000/catalog?sort=name">Сортировка по алфавиту</a>
            <a class="sort-item" href="http://127.0.0.1:8000/catalog?sort=min_price">Сначала дешёвый</a>
            <a class="sort-item" href="http://127.0.0.1:8000/catalog?sort=max_price">Сначала дорогие</a>
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            {% for phone in phones %}
               <li>
                   <a href="http://127.0.0.1:8000/catalog/{{phone.slug}}">
                       {{phone.name}}
                       <div>
                           <img src="{{phone.image}}"
                                alt="phone">
                        </div>
                   </a>
               </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}